*{
    margin: 0;
    padding: o;
}


header {
    background-color: rgb(3, 3, 54);
}
.header-class{
    display: flex;
    padding: 10px;
    flex-direction: row;
    padding: 10px 40px;
    justify-content: space-between;
    height: 30px;
}
.header-class
#nav-class {
    display: flex;
    flex-direction: row;
    width: 115px;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 5px;
}

#picture {
    background: url(../Screenshots/desktop\ gathering\ 2.png);
    background-size: 2000px 350px;
    color: white;
    height: 350px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0px;
}
#picture h1 {
    font-size: 80px;
}

 .services-grid {
  display: grid;
  /*grid-template-rows: (repeat(autofit, minmax(300px,1fr)));*/
  gap: 20px 0px;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px; 
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  grid-auto-rows: 400px;
}
.service-card1, .service-card, .service-card2 {
    grid-column: 1/span2;
    justify-self: center;
    width: 80%;
}


/* EACH ROW */
.service-card, .service-card1, .service-card2 {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  /*grid-template-columns: 1.2fr 1fr;*/
  border-radius: 30px;
  margin: 10px 40px;
  justify-content: center;
 /* min-height: 250px;*/
  height: 100% ;
}

/* IMAGE */
/*.service-image1 {
    border-radius:30px;
}*/
.service-image img, .service-image1 img, .service-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 30px;
}

/* TEXT FLEX AREA */
.service-text1 {
  background: #f5f5f5;
  padding: 28px;

  /*display: flex;
  flex-direction: column;
  justify-content: space-between; /* TOP / CENTER / BOTTOM */
  display: grid;
  align-content: center;
  height: 100%;
  border-radius: 30px;
}
.service-text2 {
  background: #f5f5f5;
  padding: 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* TOP / CENTER / BOTTOM */
  height: 100%;
  border-radius: 30px;
}
.service-text3 {
  background: #f5f5f5;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* TOP / CENTER / BOTTOM */
  height: 100%;
  border-radius: 30px;
}

/* TOP TEXT */
.text-top h2 {
  font-size: 26px;
}

.text-top h4 {
  margin-top: 8px;
  color: #555;
}

/* CENTER TEXT */
.text-center {
  display: flex;
  align-items: center;
}

.text-center p {
  color: #666;
  line-height: 1.6;
}

/* BOTTOM TEXT */
.text-bottom span {
  font-weight: bold;
  color: #111;
  cursor: pointer;
}

footer {
  background: rgb(3, 3, 54);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 35px;
  height: 40px;
}

/* MOBILE */
@media (max-width: 768px) {
  .service-card {
    grid-template-columns: 1fr;
    border-radius: 30px;
  }

  .service-image {
    height: 220px;
    border-radius: 30px;
  }
  .service-image1 {
    height: 220px;
    border-radius: 30px;
  }
  .services-grid{
  grid-template-columns: 1fr;
  }
}