*{
    margin: 0;
    padding: o;
}


header {
    background-color: rgb(3, 3, 54);
}
.header-class{
    display: flex;
    padding: 10px;
    flex-direction: row;
    padding: 10px 40px;
    justify-content: space-between;
    height: 30px;
}
.header-class
#nav-class {
    display: flex;
    flex-direction: row;
    width: 115px;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 5px;
}

#picture {
    background: url(../Screenshots/desktop\ gathering\ 2.png);
    background-size: 1500px 200px;
    color: white;
    height: 300px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
}
#picture h1 {
    padding-top: 70px;
    font-size: 50px;
}


/*section{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.text{
    display: flex;
    flex-direction: column;
}
.images1 {
    background-image: url(../Screenshots/desktop\ picture\ gathering.png);
    background-size: 300px 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.images2 {
    background-image: url(../Screenshots/people\ gathering\ round\ table.png);
    background-size: 300px 200px;
    height: 200px;
    /*background-color: black;*/
    /*background-repeat: no-repeat;
}
.images3 {
    background-image: url(../Screenshots/people\ gathering\ around\ normal\ table.png);
    background-size: 300px 200px;
    height: 200px;
    background-repeat: no-repeat;
}*/


.features-section {
    /*margin-bottom: 30rem;
    margin-top: 2rem;*/
    width: 500px;
    margin-left: 2rem;
    /*margin-right: 2rem;*/
}

.features-main-heading {
    text-align: center;
    margin-bottom: 8rem;
}

.feature-headings {
    margin-bottom: 2rem;
}

.features-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    /*This 2 align the items inside it's cells specifically grid tracks in the grid, moves it horizontally (justify-items) and vertically (align-items)*/
    justify-items: end; /*for row*/
    align-items: end; /*for column*/
    /* while this other 2 aligns the gird cells inside the container if it has extra space*/
    /*justify-content: ;
    align-content: ;*/
}

.feature-img {
    max-width: 150px;
    height: 150px;
}
/*.feature-img2 {
    max-width: 150px;
    height: 150px;
}
.feature-img3 {
    max-width: 150px;
    height: 150px;
 */